# Node.js
node_modules/
dist/

# Storybook build
storybook-static/

# Logs
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Vite
.vite/

# Env files
.env
.env.*.local

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.vscode/
.idea/

*storybook.log
