@use "/src/styles/main.scss" as *;

.button {
  color: var(--primary-text-01);
  cursor: pointer;
  border-radius: var(--radius-md);
  background-color: var(--primary-background-03);
  display: inline-flex;
  flex-shrink: 0;
  padding: var(--space-3) var(--space-6);
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  border: 2px solid transparent;
  @extend .body2-md-600;

  // ===== Variants =====
  &.primary {
    &.contained {
      border: none;
      background-color: var(--secondary-background-03);
      transition: all 0.3s ease-in-out;
    }

    &.outlined {
      background-color: transparent;
      border: 1px solid var(--secondary-border-01);
      color: var(--primary-text-02);
      transition: all 0.3s ease-in-out;
    }

    &.text {
      background-color: transparent;
      color: var(--primary-text-02);
      border: none;
      transition: all 0.3s ease-in-out;
    }

    &.tonal {
      background-color: var(--secondary-light-100);
      color: var(--primary-text-02);
      border: none;
      transition: all 0.3s ease-in-out;
    }
  }

  &.secondary {
    &.contained {
      background-color: var(--primary-background-03);
      color: var(--primary-text-02);
      border: none;
      transition: all 0.3s ease-in-out;
    }

    &.outlined {
      background-color: transparent;
      border: 1px solid var(--primary-border-01);
      color: var(--primary-text-02);
      transition: all 0.3s ease-in-out;
    }

    &.text {
      color: var(--secondary-text-02);
      background-color: transparent;
      border: none;
      transition: all 0.3s ease-in-out;
    }

    &.tonal {
      background-color: var(--cyan-50);
      color: var(--primary-text-02);
      border: none;
      transition: all 0.3s ease-in-out;
    }
  }

  // Hover state
  &:hover:not(:disabled) {
    font-weight: 700;

    // shadow-md2
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05),
      0px 4px 4px 0px rgba(33, 42, 52, 0.08);

    &.primary {
      &.contained {
        background-color: var(--secondary-background-02);
        box-shadow: var(--);
      }
      &.outlined {
        border: 1.5px solid var(--secondary-border-01);
        background-color: var(--neutral-background-03);
      }
      &.text {
        background-color: var(--neutral-background-03);
      }
      &.tonal {
        background-color: var(--secondary-light-200);
      }
    }

    &.secondary {
      &.contained {
        background-color: var(--brand-500);
      }
      &.outlined {
        background-color: var(--primary-background-01);
        border: 1.5px solid var(--primary-border-01);
        color: var(--primary-text-02);
      }
      &.text {
        background-color: var(--primary-background-01);
      }
      &.tonal {
        background-color: var(--cyan-100);
      }
    }
  }

  // Pressed state
  &:active:not(:disabled) {
    transition: all 0.4s ease;
    &.primary {
      &.contained {
        background-color: var(--secondary-background-03);
      }
      &.outlined {
        border: 1.5px solid var(--secondary-border-01);
        background: transparent;
      }
      &.text {
        background-color: transparent;
      }
      &.tonal {
        background-color: var(--secondary-light-300);
      }
    }

    &.secondary {
      &.contained {
        background-color: var(--primary-background-04);
      }
      &.outlined {
        border: 1.5px solid var(--primary-border-01);
        color: var(--primary-text-02);
        background: transparent;
      }
      &.text {
        background-color: transparent;
      }
      &.tonal {
        background-color: var(--cyan-200);
      }
    }
  }

  // Disabled state
  &:disabled {
    cursor: not-allowed;
    &.contained {
      background: var(--secondary-background-01);
      color: var(--neutral-text-01);
      border: none;
    }
    &.outlined {
      background: transparent;
      color: var(--neutral-text-02);
      border: 1px solid var(--neutral-border-02);
    }
    &.text {
      color: var(--neutral-text-02);
      border: none;
      background-color: transparent;
    }
    &.tonal {
      color: var(--neutral-text-02);
      border: none;
      background-color: var(--secondary-light-50);
    }
  }

  // ===== Sizes =====
  &.large {
    @extend .body1-lg-600;
  }

  &.medium {
    @extend .body2-md-600;
  }

  &.small {
    @extend .body3-sm-600;
  }
}
