@use "/src/styles/spacing";
@use "/src/styles/radius";
@use "/src/styles/colors";
@use "/src/styles/typography";

.button {
  color: white;
  cursor: pointer;
  border-radius: var(--radius-md);
  background-color: var(--primary-background-03);
  display: inline-flex;
  flex-shrink: 0;
  padding: var(--space-3) var(--space-6);
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  border: 2px solid transparent;
  @extend .body2-md-600;

  // ===== Variants =====
  // Primary variant
  &.primary {
    // Contained type
    &.contained {
      border: none;
      background-color: var(--secondary-background-03);
    }

    // Outlined type
    &.outlined {
      background-color: transparent;
      border: 1px solid var(--secondary-border-01);
      color: var(--primary-text-02);
    }

    // Text type
    &.text {
      background-color: transparent;
      color: var(--primary-text-02);
      border: none;
    }
  }

  // Secondary variant
  &.secondary {
    // Contained type
    &.contained {
      background-color: var(--primary-background-03);
      color: var(--primary-text-02);
      border: none;
    }

    // Outlined type
    &.outlined {
      background-color: transparent;
      border: 1px solid var(--primary-border-01);
      color: var(--primary-text-02);
    }

    // Text type
    &.text {
      color: var(--secondary-text-02);
      background-color: transparent;
    }
  }

  // ===== States =====
  // Hover state
  &:hover:not(:disabled) {
    font-weight: 700;

    &.primary {
      &.contained {
        background-color: var(--secondary-background-02);
      }
      &.outlined {
        border: 1.5px solid var(--secondary-border-01);
        background-color: var(--neutral-background-03);
      }
      &.text {
        background-color: var(--neutral-background-03);
      }
    }

    &.secondary {
      &.contained {
        background-color: var(--brand-500);
      }
      &.outlined {
        background-color: var(--primary-background-01);
        border: 1.5px solid var(--primary-border-01);
        color: var(--primary-text-02);
      }
      &.text {
        background-color: var(--primary-background-01);
      }
    }
  }

  // Pressed state
  &:active:not(:disabled) {
    &.primary {
      &.contained {
        background-color: var(--secondary-background-03);
      }
      &.outlined {
        border: 1.5px solid var(--secondary-border-01);
        background: transparent;
      }
      &.text {
        background-color: transparent;
      }
    }

    &.secondary {
      &.contained {
        background-color: var(--primary-background-04);
      }
      &.outlined {
        border: 1.5px solid var(--primary-border-01);
        color: var(--primary-text-02);
        background: transparent;
      }
      &.text {
        background-color: transparent;
      }
    }
  }

  // Disabled state
  &:disabled {
    cursor: not-allowed;
    &.contained {
      background: var(--secondary-background-01);
      color: var(--neutral-text-01);
      border: none;
    }
    &.outlined {
      background: transparent;
      color: var(--neutral-text-02);
      border: 1px solid var(--neutral-border-02);
    }
    &.text {
      color: var(--neutral-text-02);
      border: none;
      background-color: transparent;
    }
  }

  // ===== Sizes =====
  &.large {
    @extend .body1-lg-600;
  }

  &.medium {
    @extend .body2-md-600;
  }

  &.small {
    @extend .body3-sm-600;
  }
}

.leftIcon,
.rightIcon {
  height: var(--space-6);
  width: var(--space-6);
}