@use "/src/styles/main.scss" as *;

.textareaContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
  max-width: var(--space-80);

  &:focus-within {
    .label:not(.errorLabel) {
      color: var(--primary-border-01);
    }
  }

  &:focus-within {
    .label.errorLabel {
      color: var(--secondary-text-01) !important;
    }
  }
}

.textareaWrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: var(--space-0_5);
  transition: all 0.3s ease;
  padding-top: var(--space-2);

  .cornerLine {
    position: absolute;
    bottom: calc(var(--space-2) - var(--space-4));
    left: -0.5px;
    z-index: 2;
    transition: color 0.3s ease;

    .textarea:hover:not(.disabled) ~ & {
      color: var(--secondary-foreground-02) !important;
    }
  }

  .textarea:hover:not(.disabled) ~ .label:not(.errorLabel) {
    color: var(--neutral-text-03);
  }

  .textarea {
    width: 100%;
    font-family: inherit;
    @extend .body2-md-600;
    color: var(--neutral-text-04);
    text-align: right;
    transition: all 0.3s ease;
    border-radius: var(--space-2);
    border: 1.5px solid var(--secondary-border-04);
    background: transparent;
    z-index: 1;
    position: relative;
    resize: vertical;
    direction: rtl;

    // States
    &:hover:not(.disabled) {
      border: 1.5px solid var(--secondary-border-03);

      &::placeholder {
        color: var(--neutral-text-03);
      }
    }

    &:focus:not(.disabled) {
      outline: none;
      border: 1.5px solid var(--primary-border-01);
      border-radius: var(--space-2);
    }

    &.errorBorder {
      border: 1.5px solid var(--error-border-01);
      &:focus,
      &:hover {
        border: 1.5px solid var(--error-border-01);
      }

      &:focus:not(.disabled) {
        border: 1.5px solid var(--primary-border-01);
      }
    }

    &.disabled {
      cursor: not-allowed;
      border: 1.5px solid var(--neutral-border-02);
      color: var(--neutral-border-02);
      background-color: transparent;

      &::placeholder {
        color: var(--neutral-foreground-02);
      }
    }

    &.hasLeftIcon {
      padding-left: var(--space-10) !important;
    }

    &.hasRightIcon {
      padding-right: var(--space-10) !important;
    }

    &.longText {
      padding: var(--space-2) var(--space-4);
      min-height: var(--space-32);
    }

    // For floating label effect
    &.hasValue + .label,
    &:focus + .label {
      transform: translateY(-30px) scale(0.85);
      padding: 0 var(--space-2);
      background: var(--primary-text-01);
      z-index: 2;
      right: var(--space-3);
    }
  }

  .label {
    position: absolute;
    top: 28px;
    right: var(--space-4);
    transform: translateY(-50%);
    transition: all 0.2s ease;
    transform-origin: right center;
    pointer-events: none;
    color: var(--neutral-text-04);
    @extend .body3-sm-600;
    padding: 0 var(--space-0_5);
    z-index: 1;

    &.disabledLabel {
      color: var(--neutral-text-02) !important;
    }

    // position when icons are present
    &.hasLeftIconLabel {
      right: calc(var(--space-4) + var(--space-6));
    }

    &.hasRightIconLabel {
      right: calc(var(--space-4) + var(--space-6));
    }

    &.errorLabel {
      color: var(--error-text-01);
      @extend .caption1-xs-600;
    }

    &.floating {
      transform: translateY(-40px) scale(0.85);
      z-index: 2;
      right: var(--space-3);
      padding: 0 var(--space-1);

      &.hasLeftIconLabel {
        right: calc(var(--space-3) + var(--space-0_5));
      }

      &.hasRightIconLabel {
        right: calc(var(--space-3) + var(--space-0_5));
      }
    }
  }

  .rightIcon,
  .leftIcon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
    top: 16px;

    &.disabled {
      color: var(--neutral-foreground-02);
      cursor: not-allowed;
    }
  }

  .rightIcon {
    left: var(--space-3);
  }

  .leftIcon {
    right: var(--space-3);
  }
}

.textareaWrapper:hover ~ .helperText:not(.error):not(.disabled) {
  color: var(--neutral-text-03);
}

.helperText {
  display: flex;
  justify-content: right;
  padding: 0px var(--space-4);
  text-align: right;
  @extend .caption1-xs-600;
  color: var(--neutral-text-04);
  transition: color 0.3s ease;

  &.error {
    color: var(--error-border-01);
  }

  &.disabled {
    color: var(--neutral-foreground-02);
  }

  &.errorFocusedHelper {
    color: var(--neutral-text-04) !important;
  }
}
