@use "/src/styles/main.scss" as *;

.switch {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  padding: var(--space-1);
  width: 62px;

  &-small {
    height: 28px;
  }

  &-medium {
    height: var(--space-8);
  }

  &-primary {
    // Enable - not checked / checked
    .switch-slider {
      border-radius: var(--radius-full);
      background-color: var(--primary-background-03);

      &:before {
        background-color: var(--secondary-foreground-01);
      }
    }

    &.switch-checked {
      .switch-slider {
        background-color: var(--neutral-background-03);

        &:before {
          background-color: var(--neutral-foreground-01);
        }
      }
    }

    // Disabled - cheched / not checked
    &.switch-disabled {
      .switch-slider {
        background-color: var(--secondary-background-01);
        cursor: not-allowed;
      }
    }

    // Hover - not checked / checked
    &.switch-hover {
      &:not(.switch-checked) {
        .switch-slider {
          background-color: var(--primary-background-02);
        }
      }

      &.switch-checked {
        .switch-slider {
          background-color: var(--neutral-background-02);
        }
      }
    }

    // Focus - not checked / checked
    &.switch-focus {
      &:not(.switch-checked) {
        .switch-slider {
          background-color: var(--primary-background-04);
        }
      }

      &.switch-checked {
        .switch-slider {
          background-color: var(--neutral-background-02);
        }
      }
    }
  }

  &-secondary {
    // Enable - not checked / checked
    .switch-slider {
      border-radius: var(--radius-full);
      background-color: var(--secondary-background-02);

      &:before {
        background-color: var(--secondary-foreground-01);
      }
    }

    &.switch-checked {
      .switch-slider {
        background-color: var(--secondary-background-01);

        &:before {
          background-color: var(--neutral-foreground-01);
        }
      }
    }

    // Disabled - cheched / not checked
    &.switch-disabled {
      .switch-slider {
        background-color: var(--secondary-background-01);
        cursor: not-allowed;
      }
    }

    // Hover - not checked / checked
    &.switch-hover {
      &:not(.switch-checked) {
        .switch-slider {
          background-color: var(--secondary-background-02);
        }
      }

      &.switch-checked {
        .switch-slider {
          background-color: var(--neutral-background-02);
        }
      }
    }

    // Focus - not checked / checked
    &.switch-focus {
      &:not(.switch-checked) {
        .switch-slider {
          background-color: var(--secondary-background-03);
        }
      }

      &.switch-checked {
        .switch-slider {
          background-color: var(--neutral-background-02);
        }
      }
    }
  }
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  transition: 0.5s;

  &:before {
    position: absolute;
    content: "";
    height: 80%;
    width: 44%;
    left: 6%;
    bottom: 10%;
    border-radius: 50%;
    transition: 0.3s;
  }
}

.switch-checked {
  .switch-slider:before {
    transform: translateX(100%);
  }
}
