$radius-none: 0;
$radius-none: 0.125rem;
$radius-none: 0.25rem;
$radius-none: 0.375rem;
$radius-none: 0.5rem;
$radius-none: 0.625rem;
$radius-none: 0.75;
$radius-none: 1rem;
$radius-none: 1.25rem;
$radius-none: 1.5rem;
$radius-none: 9999rem;

:root {
  --radius-none: #{$radius-none};
  --radius-xxs: #{$radius-xxs};
  --radius-xs: #{$radius-xs};
  --radius-sm: #{$radius-sm};
  --radius-md: #{$radius-md};
  --radius-lg: #{$radius-lg};
  --radius-xl: #{$radius-xl};
  --radius-2xl: #{$radius-2xl};
  --radius-3xl: #{$radius-3xl};
  --radius-full: #{$radius-full};
}
