:root {
  --base-white: #ffffff;
  --base-black: #000000;
  --secondary-25: #f5feff;
  --secondary-50: #ecfdff;
  --secondary-100: #cff9fe;
  --secondary-200: #a5f0fc;
  --secondary-300: #67e3f9;
  --secondary-400: #22ccee;
  --secondary-500: #06aed4;
  --secondary-600: #088ab2;
  --secondary-700: #0e7090;
  --secondary-800: #155b75;
  --secondary-900: #164c63;
  --secondary-950: #0d2d3a;
  --primary-light-25: #fbfbfb;
  --primary-light-50: #f2f2f2;
  --primary-light-100: #e4e4e4;
  --primary-light-200: #c7c7c7;
  --primary-light-300: #ababab;
  --primary-light-400: #8f8f8f;
  --primary-light-500: #727272;
  --primary-light-600: #565656;
  --primary-light-700: #393939;
  --primary-light-800: #1c1c1c;
  --primary-light-900: #050505;
  --primary-light-950: #000000;
  --gray-light-25: #fcfcfd;
  --gray-light-50: #f9fafb;
  --gray-light-100: #f2f4f7;
  --gray-light-200: #eaecf0;
  --gray-light-300: #d0d5dd;
  --gray-light-400: #98a2b3;
  --gray-light-500: #667085;
  --gray-light-600: #475467;
  --gray-light-700: #344054;
  --gray-light-800: #182230;
  --gray-light-900: #101828;
  --gray-light-950: #0c111d;
  --gray-primary-25: #fcfdfd;
  --gray-primary-50: #fafbfc;
  --gray-primary-100: #f9fafb;
  --gray-primary-200: #f7f9fa;
  --gray-primary-300: #f5f7f9;
  --gray-primary-400: #f2f5f7;
  --gray-primary-500: #f0f3f6;
  --gray-primary-600: #eef2f5;
  --gray-primary-700: #c6c9cc;
  --gray-primary-800: #77797a;
  --gray-primary-900: #4f5051;
  --gray-primary-950: #272828;
  --secondary-border-01: #22ccee;
  --secondary-border-02: #06aed4;
  --secondary-border-03: #088ab2;
  --secondary-border-04: #155b75;
  --primary-border-01: #050505;
  --primary-border-02: #393939;
  --primary-border-03: #565656;
  --primary-border-04: #8f8f8f;
  --neutral-border-01: #1c1c1c;
  --neutral-border-02: #c7c7c7;
  --neutral-border-03: #565656;
  --success-border-01: #17b26a;
  --success-border-02: #067647;
  --info-border-01: #1570ef;
  --info-border-02: #1849a9;
  --warning-border-01: #f79009;
  --warning-border-02: #dc6803;
  --error-border-01: #d92d20;
  --error-border-02: #912018;
  --primary-background-01: #f2f2f2;
  --primary-background-02: #c7c7c7;
  --primary-background-03: #565656;
  --primary-background-04: #050505;
  --secondary-background-01: #f5feff;
  --secondary-background-02: #06aed4;
  --secondary-background-03: #088ab2;
  --secondary-background-04: #0e6f90;
  --neutral-background-01: #000000;
  --neutral-background-02: #393939;
  --neutral-background-03: #8f8f8f;
  --success-background-01: #ecfdf3;
  --success-background-02: #75e0a7;
  --success-background-03: #17b26a;
  --success-background-04: #067647;
  --info-background-01: #eff8ff;
  --info-background-02: #53b1fd;
  --info-background-03: #1570ef;
  --info-background-04: #1849a9;
  --warning-background-01: #fffaeb;
  --warning-background-02: #fedf89;
  --warning-background-03: #f79009;
  --warning-background-04: #dc6803;
  --error-background-01: #fef3f2;
  --error-background-02: #f97066;
  --error-background-03: #d92d20;
  --error-background-04: #912018;
  --primary-foreground-01: #ffffff;
  --primary-foreground-02: #000000;
  --secondary-foreground-01: #088ab2;
  --secondary-foreground-02: #155b75;
  --neutral-foreground-01: #f2f2f2;
  --neutral-foreground-02: #c7c7c7;
  --success-foreground-01: #17b26a;
  --success-foreground-02: #067647;
  --info-foreground-01: #1570ef;
  --info-foreground-02: #1849a9;
  --warning-foreground-01: #f79009;
  --warning-foreground-02: #dc6803;
  --error-foreground-01: #d92d20;
  --error-foreground-02: #912018;
  --primary-text-01: #ffffff;
  --primary-text-02: #000000;
  --secondary-text-01: #088ab2;
  --secondary-text-02: #155b75;
  --neutral-text-01: #f2f2f2;
  --neutral-text-02: #c7c7c7;
  --neutral-text-03: #8f8f8f;
  --neutral-text-04: #565656;
  --success-text-01: #17b26a;
  --success-text-02: #067647;
  --info-text-01: #1570ef;
  --info-text-02: #1849a9;
  --warning-text-01: #f79009;
  --warning-text-02: #dc6803;
  --error-text-01: #d92d20;
  --error-text-02: #912018;
  --error-25: #fffbfa;
  --error-50: #fef3f2;
  --error-100: #fee4e2;
  --error-200: #fecdca;
  --error-300: #fda29b;
  --error-400: #f97066;
  --error-500: #f04438;
  --error-600: #d92d20;
  --error-700: #b42318;
  --error-800: #912018;
  --error-900: #7a271a;
  --error-950: #55160c;
  --warning-25: #fffcf5;
  --warning-50: #fffaeb;
  --warning-100: #fef0c7;
  --warning-200: #fedf89;
  --warning-300: #fec84b;
  --warning-400: #fdb022;
  --warning-500: #f79009;
  --warning-600: #dc6803;
  --warning-700: #b54708;
  --warning-800: #93370d;
  --warning-900: #792e0d;
  --warning-950: #4e1d09;
  --success-25: #f6fef9;
  --success-50: #ecfdf3;
  --success-100: #dcfae6;
  --success-200: #abefc6;
  --success-300: #75e0a7;
  --success-400: #47cd89;
  --success-500: #17b26a;
  --success-600: #079455;
  --success-700: #067647;
  --success-800: #085d3a;
  --success-900: #074d31;
  --success-950: #053321;
  --gray-blue-25: #fcfcfd;
  --gray-blue-50: #f8f9fc;
  --gray-blue-100: #eaecf5;
  --gray-blue-200: #d5d9eb;
  --gray-blue-300: #b3b8db;
  --gray-blue-400: #717bbc;
  --gray-blue-500: #4e5ba6;
  --gray-blue-600: #3e4784;
  --gray-blue-700: #363f72;
  --gray-blue-800: #293056;
  --gray-blue-900: #101323;
  --gray-blue-950: #0d0f1c;
  --gray-cool-25: #fcfcfd;
  --gray-cool-50: #f9f9fb;
  --gray-cool-100: #eff1f5;
  --gray-cool-200: #dcdfea;
  --gray-cool-300: #b9c0d4;
  --gray-cool-400: #7d89b0;
  --gray-cool-500: #5d6b98;
  --gray-cool-600: #4a5578;
  --gray-cool-700: #404968;
  --gray-cool-800: #30374f;
  --gray-cool-900: #111322;
  --gray-cool-950: #0e101b;
  --gray-modern-25: #fcfcfd;
  --gray-modern-50: #f8fafc;
  --gray-modern-100: #eef2f6;
  --gray-modern-200: #e3e8ef;
  --gray-modern-300: #cdd5df;
  --gray-modern-400: #9aa4b2;
  --gray-modern-500: #697586;
  --gray-modern-600: #4b5565;
  --gray-modern-700: #364152;
  --gray-modern-800: #202939;
  --gray-modern-900: #121926;
  --gray-modern-950: #0d121c;
  --gray-neutral-25: #fcfcfd;
  --gray-neutral-50: #f9fafb;
  --gray-neutral-100: #f3f4f6;
  --gray-neutral-200: #e5e7eb;
  --gray-neutral-300: #d2d6db;
  --gray-neutral-400: #9da4ae;
  --gray-neutral-500: #6c737f;
  --gray-neutral-600: #4d5761;
  --gray-neutral-700: #384250;
  --gray-neutral-800: #1f2a37;
  --gray-neutral-900: #111927;
  --gray-neutral-950: #0d121c;
  --gray-iron-25: #fcfcfc;
  --gray-iron-50: #fafafa;
  --gray-iron-100: #f4f4f5;
  --gray-iron-200: #e4e4e7;
  --gray-iron-300: #d1d1d6;
  --gray-iron-400: #a0a0ab;
  --gray-iron-500: #70707b;
  --gray-iron-600: #51525c;
  --gray-iron-700: #3f3f46;
  --gray-iron-800: #26272b;
  --gray-iron-900: #1a1a1e;
  --gray-iron-950: #131316;
  --gray-true-25: #fcfcfc;
  --gray-true-50: #fafafa;
  --gray-true-100: #f5f5f5;
  --gray-true-200: #e5e5e5;
  --gray-true-300: #d6d6d6;
  --gray-true-400: #a3a3a3;
  --gray-true-500: #737373;
  --gray-true-600: #525252;
  --gray-true-700: #424242;
  --gray-true-800: #292929;
  --gray-true-900: #141414;
  --gray-true-950: #0f0f0f;
  --gray-warm-25: #fdfdfc;
  --gray-warm-50: #fafaf9;
  --gray-warm-100: #f5f5f4;
  --gray-warm-200: #e7e5e4;
  --gray-warm-300: #d7d3d0;
  --gray-warm-400: #a9a29d;
  --gray-warm-500: #79716b;
  --gray-warm-600: #57534e;
  --gray-warm-700: #44403c;
  --gray-warm-800: #292524;
  --gray-warm-900: #1c1917;
  --gray-warm-950: #171412;
  --mose-25: #fafdf7;
  --mose-50: #f5fbee;
  --mose-100: #e6f4d7;
  --mose-200: #ceeab0;
  --mose-300: #acdc79;
  --mose-400: #86cb3c;
  --mose-500: #669f2a;
  --mose-600: #4f7a21;
  --mose-700: #3f621a;
  --mose-800: #335015;
  --mose-900: #2b4212;
  --mose-950: #1a280b;
  --green-light-25: #fafef5;
  --green-light-50: #f3fee7;
  --green-light-100: #e4fbcc;
  --green-light-200: #d0f8ab;
  --green-light-300: #a6ef67;
  --green-light-400: #85e13a;
  --green-light-500: #66c61c;
  --green-light-600: #4ca30d;
  --green-light-700: #3b7c0f;
  --green-light-800: #326212;
  --green-light-900: #2b5314;
  --green-light-950: #15290a;
  --green-25: #f6fef9;
  --green-50: #edfcf2;
  --green-100: #d3f8df;
  --green-200: #aaf0c4;
  --green-300: #73e2a3;
  --green-400: #3ccb7f;
  --green-500: #16b364;
  --green-600: #099250;
  --green-700: #087443;
  --green-800: #095c37;
  --green-900: #084c2e;
  --green-950: #052e1c;
  --teal-25: #f6fefc;
  --teal-50: #f0fdf9;
  --teal-100: #ccfbef;
  --teal-200: #99f6e0;
  --teal-300: #5fe9d0;
  --teal-400: #2ed3b7;
  --teal-500: #15b79e;
  --teal-600: #0e9384;
  --teal-700: #107569;
  --teal-800: #125d56;
  --teal-900: #134e48;
  --teal-950: #0a2926;
  --cyan-25: #f5feff;
  --cyan-50: #ecfdff;
  --cyan-100: #cff9fe;
  --cyan-200: #a5f0fc;
  --cyan-300: #67e3f9;
  --cyan-400: #22ccee;
  --cyan-500: #06aed4;
  --cyan-600: #088ab2;
  --cyan-700: #0e7090;
  --cyan-800: #155b75;
  --cyan-900: #164c63;
  --cyan-950: #0d2d3a;
  --blue-dark-25: #f5fbff;
  --blue-dark-50: #eff4ff;
  --blue-dark-100: #d1e0ff;
  --blue-dark-200: #b2ccff;
  --blue-dark-300: #84adff;
  --blue-dark-400: #528bff;
  --blue-dark-500: #2970ff;
  --blue-dark-600: #155eef;
  --blue-dark-700: #004eeb;
  --blue-dark-800: #0040c1;
  --blue-dark-900: #00359e;
  --blue-dark-950: #002266;
  --blue-25: #f5faff;
  --blue-50: #eff8ff;
  --blue-100: #d1e9ff;
  --blue-200: #b2ddff;
  --blue-300: #84caff;
  --blue-400: #53b1fd;
  --blue-500: #2e90fa;
  --blue-600: #1570ef;
  --blue-700: #175cd3;
  --blue-800: #1849a9;
  --blue-900: #194185;
  --blue-950: #102a56;
  --indigo-25: #f5f8ff;
  --indigo-50: #eef4ff;
  --indigo-100: #e0eaff;
  --indigo-200: #c7d7fe;
  --indigo-300: #a4bcfd;
  --indigo-400: #8098f9;
  --indigo-500: #6172f3;
  --indigo-600: #444ce7;
  --indigo-700: #3538cd;
  --indigo-800: #2d31a6;
  --indigo-900: #2d3282;
  --indigo-950: #1f235b;
  --violet-25: #fbfaff;
  --violet-50: #f5f3ff;
  --violet-100: #ece9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c3b5fd;
  --violet-400: #a48afb;
  --violet-500: #875bf7;
  --violet-600: #7839ee;
  --violet-700: #6927da;
  --violet-800: #5720b7;
  --violet-900: #491c96;
  --violet-950: #2e125e;
  --purple-25: #fafaff;
  --purple-50: #f4f3ff;
  --purple-100: #ebe9fe;
  --purple-200: #d9d6fe;
  --purple-300: #bdb4fe;
  --purple-400: #9b8afb;
  --purple-500: #7a5af8;
  --purple-600: #6938ef;
  --purple-700: #5925dc;
  --purple-800: #4a1fb8;
  --purple-900: #3e1c96;
  --purple-950: #27115f;
  --fuchsia-25: #fefaff;
  --fuchsia-50: #fdf4ff;
  --fuchsia-100: #fbe8ff;
  --fuchsia-200: #f6d0fe;
  --fuchsia-300: #eeaafd;
  --fuchsia-400: #e478fa;
  --fuchsia-500: #d444f1;
  --fuchsia-600: #ba24d5;
  --fuchsia-700: #9f1ab1;
  --fuchsia-800: #821890;
  --fuchsia-900: #6f1877;
  --fuchsia-950: #47104c;
  --pink-25: #fef6fb;
  --pink-50: #fdf2fa;
  --pink-100: #fce7f6;
  --pink-200: #fcceee;
  --pink-300: #faa7e0;
  --pink-400: #f670c7;
  --pink-500: #ee46bc;
  --pink-600: #dd2590;
  --pink-700: #c11574;
  --pink-800: #9e165f;
  --pink-900: #851651;
  --pink-950: #4e0d30;
  --rose-25: #fff5f6;
  --rose-50: #fff1f3;
  --rose-100: #ffe4e8;
  --rose-200: #fecdd6;
  --rose-300: #fea3b4;
  --rose-400: #fd6f8e;
  --rose-500: #f63d68;
  --rose-600: #e31b54;
  --rose-700: #c01048;
  --rose-800: #a11043;
  --rose-900: #89123e;
  --rose-950: #510b24;
  --orange-dark-25: #fff9f5;
  --orange-dark-50: #fff4ed;
  --orange-dark-100: #ffe6d5;
  --orange-dark-200: #ffd6ae;
  --orange-dark-300: #ff9c66;
  --orange-dark-400: #ff692e;
  --orange-dark-500: #ff4405;
  --orange-dark-600: #e62e05;
  --orange-dark-700: #bc1b06;
  --orange-dark-800: #97180c;
  --orange-dark-900: #771a0d;
  --orange-dark-950: #57130a;
  --orange-25: #fefaf5;
  --orange-50: #fef6ee;
  --orange-100: #fdead7;
  --orange-200: #f9dbaf;
  --orange-300: #f7b27a;
  --orange-400: #f38744;
  --orange-500: #ef6820;
  --orange-600: #e04f16;
  --orange-700: #b93815;
  --orange-800: #932f19;
  --orange-900: #772917;
  --orange-950: #511c10;
  --yellow-25: #fefdf0;
  --yellow-50: #fefbe8;
  --yellow-100: #fef7c3;
  --yellow-200: #feee95;
  --yellow-300: #fde272;
  --yellow-400: #fac515;
  --yellow-500: #eaaa08;
  --yellow-600: #ca8504;
  --yellow-700: #a15c07;
  --yellow-800: #854a0e;
  --yellow-900: #713b12;
  --yellow-950: #542c0d;
}

[data-theme=dark] {
  --base-white: #000000;
  --base-black: #ffffff;
  --secondary-25: #0d2d3a;
  --secondary-50: #164c63;
  --secondary-100: #155b75;
  --secondary-200: #0e7090;
  --secondary-300: #088ab2;
  --secondary-400: #06aed4;
  --secondary-500: #22ccee;
  --secondary-600: #67e3f9;
  --secondary-700: #a5f0fc;
  --secondary-800: #cff9fe;
  --secondary-900: #ecfdff;
  --secondary-950: #f5feff;
  --primary-light-25: #020202;
  --primary-light-50: #151515;
  --primary-light-100: #1b1b1b;
  --primary-light-200: #383838;
  --primary-light-300: #545454;
  --primary-light-400: #717171;
  --primary-light-500: #8d8d8d;
  --primary-light-600: #aaaaaa;
  --primary-light-700: #c6c6c6;
  --primary-light-800: #e3e3e3;
  --primary-light-900: #fafafa;
  --primary-light-950: #ffffff;
  --gray-light-25: #0c111d;
  --gray-light-50: #101828;
  --gray-light-100: #182230;
  --gray-light-200: #344054;
  --gray-light-300: #475467;
  --gray-light-400: #667085;
  --gray-light-500: #98a2b3;
  --gray-light-600: #d0d5dd;
  --gray-light-700: #eaecf0;
  --gray-light-800: #f2f4f7;
  --gray-light-900: #f9fafb;
  --gray-light-950: #fcfcfd;
  --gray-primary-25: #272828;
  --gray-primary-50: #4f5051;
  --gray-primary-100: #77797a;
  --gray-primary-200: #c6c9cc;
  --gray-primary-300: #eef2f5;
  --gray-primary-400: #f0f3f6;
  --gray-primary-500: #f2f5f7;
  --gray-primary-600: #f5f7f9;
  --gray-primary-700: #f7f9fa;
  --gray-primary-800: #f9fafb;
  --gray-primary-900: #fafbfc;
  --gray-primary-950: #fcfdfd;
  --secondary-border-01: #06aed4;
  --secondary-border-02: #67e3f9;
  --secondary-border-03: #a5f0fc;
  --secondary-border-03: #cff9fe;
  --primary-border-01: #ffffff;
  --primary-border-02: #e3e3e3;
  --primary-border-03: #c6c6c6;
  --primary-border-04: #aaaaaa;
  --neutral-border-01: #fafafa;
  --neutral-border-02: #383838;
  --neutral-border-03: #717171;
  --success-border-01: #47cd89;
  --success-border-02: #abefc6;
  --info-border-01: #84caff;
  --info-border-02: #d1e9ff;
  --warning-border-01: #fdb022;
  --warning-border-02: #fec84b;
  --error-border-01: #fda29b;
  --error-border-02: #fee4e2;
  --secondary-background-01: #088ab2;
  --secondary-background-02: #67e3f9;
  --secondary-background-03: #a5f0fc;
  --secondary-background-04: #cff9fe;
  --primary-background-01: #383838;
  --primary-background-02: #545454;
  --primary-background-03: #aaaaaa;
  --primary-background-04: #ffffff;
  --neutral-background-01: #fafafa;
  --neutral-background-02: #c6c6c6;
  --neutral-background-03: #717171;
  --success-background-01: #074d31;
  --success-background-02: #079455;
  --success-background-03: #47cd89;
  --success-background-04: #abefc6;
  --info-background-01: #194185;
  --info-background-02: #2e90fa;
  --info-background-03: #84caff;
  --info-background-04: #d1e9ff;
  --warning-background-01: #792e0d;
  --warning-background-02: #b54708;
  --warning-background-03: #f79009;
  --warning-background-04: #fec84b;
  --error-background-01: #7a271a;
  --error-background-02: #f04438;
  --error-background-03: #fda29b;
  --error-background-04: #fee4e2;
  --primary-foreground-01: #67e3f9;
  --primary-foreground-02: #ffffff;
  --secondary-foreground-01: #67e3f9;
  --secondary-foreground-02: #0e6f90;
  --neutral-foreground-01: #151515;
  --neutral-foreground-02: #383838;
  --neutral-foreground-03: #717171;
  --neutral-foreground-04: #aaaaaa;
  --success-foreground-01: #47cd89;
  --success-foreground-02: #abefc6;
  --info-foreground-01: #84caff;
  --info-foreground-02: #eff8ff;
  --warning-foreground-01: #fdb022;
  --warning-foreground-02: #fec84b;
  --error-foreground-01: #fda29b;
  --error-foreground-02: #fee4e2;
  --primary-text-01: #000000;
  --primary-text-02: #ffffff;
  --secondary-text-01: #67e3f9;
  --secondary-text-02: #cff9fe;
  --neutral-text-01: #151515;
  --neutral-text-02: #383838;
  --neutral-text-03: #717171;
  --neutral-text-04: #aaaaaa;
  --success-text-01: #47cd89;
  --success-text-02: #abefc6;
  --info-text-01: #84caff;
  --info-text-02: #eff8ff;
  --warning-text-01: #fdb022;
  --warning-text-02: #fec84b;
  --error-text-01: #fda29b;
  --error-text-02: #fee4e2;
  --error-25: #55160c;
  --error-50: #7a271a;
  --error-100: #912018;
  --error-200: #b42318;
  --error-300: #d92d20;
  --error-400: #f04438;
  --error-500: #f97066;
  --error-600: #fda29b;
  --error-700: #fecdca;
  --error-800: #fee4e2;
  --error-900: #fef3f2;
  --error-950: #fffbfa;
  --warning-25: #4e1d09;
  --warning-50: #792e0d;
  --warning-100: #93370d;
  --warning-200: #b54708;
  --warning-300: #dc6803;
  --warning-400: #f79009;
  --warning-500: #fdb022;
  --warning-600: #fec84b;
  --warning-700: #fedf89;
  --warning-800: #fef0c7;
  --warning-900: #fffaeb;
  --warning-950: #fffcf5;
  --success-25: #053321;
  --success-50: #074d31;
  --success-100: #085d3a;
  --success-200: #067647;
  --success-300: #079455;
  --success-400: #17b26a;
  --success-500: #47cd89;
  --success-600: #75e0a7;
  --success-700: #abefc6;
  --success-800: #dcfae6;
  --success-900: #ecfdf3;
  --success-950: #f6fef9;
  --gray-blue-25: #0d0f1c;
  --gray-blue-50: #101323;
  --gray-blue-100: #293056;
  --gray-blue-200: #363f72;
  --gray-blue-300: #3e4784;
  --gray-blue-400: #4e5ba6;
  --gray-blue-500: #717bbc;
  --gray-blue-600: #b3b8db;
  --gray-blue-700: #d5d9eb;
  --gray-blue-800: #eaecf5;
  --gray-blue-900: #f8f9fc;
  --gray-blue-950: #fcfcfd;
  --gray-cool-25: #0e101b;
  --gray-cool-50: #111322;
  --gray-cool-100: #30374f;
  --gray-cool-200: #404968;
  --gray-cool-300: #4a5578;
  --gray-cool-400: #5d6b98;
  --gray-cool-500: #7d89b0;
  --gray-cool-600: #b9c0d4;
  --gray-cool-700: #dcdfea;
  --gray-cool-800: #eff1f5;
  --gray-cool-900: #f9f9fb;
  --gray-cool-950: #fcfcfd;
  --gray-modern-25: #0d121c;
  --gray-modern-50: #121926;
  --gray-modern-100: #202939;
  --gray-modern-200: #364152;
  --gray-modern-300: #4b5565;
  --gray-modern-400: #697586;
  --gray-modern-500: #9aa4b2;
  --gray-modern-600: #cdd5df;
  --gray-modern-700: #e3e8ef;
  --gray-modern-800: #eef2f6;
  --gray-modern-900: #f8fafc;
  --gray-modern-950: #fcfcfd;
  --gray-neutral-25: #0d121c;
  --gray-neutral-50: #111927;
  --gray-neutral-100: #1f2a37;
  --gray-neutral-200: #384250;
  --gray-neutral-300: #4d5761;
  --gray-neutral-400: #6c737f;
  --gray-neutral-500: #9da4ae;
  --gray-neutral-600: #d2d6db;
  --gray-neutral-700: #e5e7eb;
  --gray-neutral-800: #f3f4f6;
  --gray-neutral-900: #f9fafb;
  --gray-neutral-950: #fcfcfd;
  --gray-iron-25: #131316;
  --gray-iron-50: #1a1a1e;
  --gray-iron-100: #26272b;
  --gray-iron-200: #3f3f46;
  --gray-iron-300: #51525c;
  --gray-iron-400: #70707b;
  --gray-iron-500: #a0a0ab;
  --gray-iron-600: #d1d1d6;
  --gray-iron-700: #e4e4e7;
  --gray-iron-800: #f4f4f5;
  --gray-iron-900: #fafafa;
  --gray-iron-950: #fcfcfc;
  --gray-warm-25: #171412;
  --gray-warm-50: #1c1917;
  --gray-warm-100: #292524;
  --gray-warm-200: #44403c;
  --gray-warm-300: #57534e;
  --gray-warm-400: #79716b;
  --gray-warm-500: #a9a29d;
  --gray-warm-600: #d7d3d0;
  --gray-warm-700: #e7e5e4;
  --gray-warm-800: #f5f5f4;
  --gray-warm-900: #fafaf9;
  --gray-warm-950: #fdfdfc;
  --mose-25: #1a280b;
  --mose-50: #2b4212;
  --mose-100: #335015;
  --mose-200: #3f621a;
  --mose-300: #4f7a21;
  --mose-400: #669f2a;
  --mose-500: #86cb3c;
  --mose-600: #acdc79;
  --mose-700: #ceeab0;
  --mose-800: #e6f4d7;
  --mose-900: #f5fbee;
  --mose-950: #fafdf7;
  --green-light-25: #15290a;
  --green-light-50: #2b5314;
  --green-light-100: #326212;
  --green-light-200: #3b7c0f;
  --green-light-300: #4ca30d;
  --green-light-400: #66c61c;
  --green-light-500: #85e13a;
  --green-light-600: #a6ef67;
  --green-light-700: #d0f8ab;
  --green-light-800: #e4fbcc;
  --green-light-900: #f3fee7;
  --green-light-950: #fafef5;
  --green-25: #052e1c;
  --green-50: #084c2e;
  --green-100: #095c37;
  --green-200: #087443;
  --green-300: #099250;
  --green-400: #16b364;
  --green-500: #3ccb7f;
  --green-600: #73e2a3;
  --green-700: #aaf0c4;
  --green-800: #d3f8df;
  --green-900: #edfcf2;
  --green-950: #f6fef9;
  --teal-25: #0a2926;
  --teal-50: #134e48;
  --teal-100: #125d56;
  --teal-200: #107569;
  --teal-300: #0e9384;
  --teal-400: #15b79e;
  --teal-500: #2ed3b7;
  --teal-600: #5fe9d0;
  --teal-700: #99f6e0;
  --teal-800: #ccfbef;
  --teal-900: #f0fdf9;
  --teal-950: #f6fefc;
  --cyan-25: #0d2d3a;
  --cyan-50: #164c63;
  --cyan-100: #155b75;
  --cyan-200: #0e7090;
  --cyan-300: #088ab2;
  --cyan-400: #06aed4;
  --cyan-500: #22ccee;
  --cyan-600: #67e3f9;
  --cyan-700: #a5f0fc;
  --cyan-800: #cff9fe;
  --cyan-900: #ecfdff;
  --cyan-950: #f5feff;
  --blue-dark-25: #002266;
  --blue-dark-50: #00359e;
  --blue-dark-100: #0040c1;
  --blue-dark-200: #004eeb;
  --blue-dark-300: #155eef;
  --blue-dark-400: #2970ff;
  --blue-dark-500: #528bff;
  --blue-dark-600: #84adff;
  --blue-dark-700: #b2ccff;
  --blue-dark-800: #d1e0ff;
  --blue-dark-900: #eff4ff;
  --blue-dark-950: #f5fbff;
  --blue-25: #102a56;
  --blue-50: #194185;
  --blue-100: #1849a9;
  --blue-200: #175cd3;
  --blue-300: #1570ef;
  --blue-400: #2e90fa;
  --blue-500: #53b1fd;
  --blue-600: #84caff;
  --blue-700: #b2ddff;
  --blue-800: #d1e9ff;
  --blue-900: #eff8ff;
  --blue-950: #f5faff;
  --indigo-25: #1f235b;
  --indigo-50: #2d3282;
  --indigo-100: #2d31a6;
  --indigo-200: #3538cd;
  --indigo-300: #444ce7;
  --indigo-400: #6172f3;
  --indigo-500: #8098f9;
  --indigo-600: #a4bcfd;
  --indigo-700: #c7d7fe;
  --indigo-800: #e0eaff;
  --indigo-900: #eef4ff;
  --indigo-950: #f5f8ff;
  --violet-25: #2e125e;
  --violet-50: #491c96;
  --violet-100: #5720b7;
  --violet-200: #6927da;
  --violet-300: #7839ee;
  --violet-400: #875bf7;
  --violet-500: #a48afb;
  --violet-600: #c3b5fd;
  --violet-700: #ddd6fe;
  --violet-800: #ece9fe;
  --violet-900: #f5f3ff;
  --violet-950: #fbfaff;
  --purple-25: #27115f;
  --purple-50: #3e1c96;
  --purple-100: #4a1fb8;
  --purple-200: #5925dc;
  --purple-300: #6938ef;
  --purple-400: #7a5af8;
  --purple-500: #9b8afb;
  --purple-600: #bdb4fe;
  --purple-700: #d9d6fe;
  --purple-800: #ebe9fe;
  --purple-900: #f4f3ff;
  --purple-950: #fafaff;
  --fuchsia-25: #47104c;
  --fuchsia-50: #6f1877;
  --fuchsia-100: #821890;
  --fuchsia-200: #9f1ab1;
  --fuchsia-300: #ba24d5;
  --fuchsia-400: #d444f1;
  --fuchsia-500: #e478fa;
  --fuchsia-600: #eeaafd;
  --fuchsia-700: #f6d0fe;
  --fuchsia-800: #fbe8ff;
  --fuchsia-900: #fdf4ff;
  --fuchsia-950: #fefaff;
  --pink-25: #4e0d30;
  --pink-50: #851651;
  --pink-100: #9e165f;
  --pink-200: #c11574;
  --pink-300: #dd2590;
  --pink-400: #ee46bc;
  --pink-500: #f670c7;
  --pink-600: #faa7e0;
  --pink-700: #fcceee;
  --pink-800: #fce7f6;
  --pink-900: #fdf2fa;
  --pink-950: #fef6fb;
  --rose-25: #510b24;
  --rose-50: #89123e;
  --rose-100: #a11043;
  --rose-200: #c01048;
  --rose-300: #e31b54;
  --rose-400: #f63d68;
  --rose-500: #fd6f8e;
  --rose-600: #fea3b4;
  --rose-700: #fecdd6;
  --rose-800: #ffe4e8;
  --rose-900: #fff1f3;
  --rose-950: #fff5f6;
  --orange-dark-25: #57130a;
  --orange-dark-50: #771a0d;
  --orange-dark-100: #97180c;
  --orange-dark-200: #bc1b06;
  --orange-dark-300: #e62e05;
  --orange-dark-400: #ff4405;
  --orange-dark-500: #ff692e;
  --orange-dark-600: #ff9c66;
  --orange-dark-700: #ffd6ae;
  --orange-dark-800: #ffe6d5;
  --orange-dark-900: #fff4ed;
  --orange-dark-950: #fff9f5;
  --orange-25: #511c10;
  --orange-50: #772917;
  --orange-100: #932f19;
  --orange-200: #b93815;
  --orange-300: #e04f16;
  --orange-400: #ef6820;
  --orange-500: #f38744;
  --orange-600: #f7b27a;
  --orange-700: #f9dbaf;
  --orange-800: #fdead7;
  --orange-900: #fef6ee;
  --orange-950: #fefaf5;
  --yellow-25: #542c0d;
  --yellow-50: #713b12;
  --yellow-100: #854a0e;
  --yellow-200: #a15c07;
  --yellow-300: #ca8504;
  --yellow-400: #eaaa08;
  --yellow-500: #fac515;
  --yellow-600: #fde272;
  --yellow-700: #feee95;
  --yellow-800: #fef7c3;
  --yellow-900: #fefbe8;
  --yellow-950: #fefdf0;
}

:root {
  --radius-none: 0;
  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.75;
  --radius-2xl: 1rem;
  --radius-3xl: 1.25rem;
  --radius-4xl: 1.5rem;
  --radius-full: 9999rem;
}

:root {
  --space-0: 0px;
  --space-0_5: 0.125rem;
  --space-1: 0.25rem;
  --space-1_5: 0.375rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-32: 8rem;
  --space-40: 10rem;
  --space-48: 12rem;
  --space-56: 14rem;
  --space-64: 16rem;
  --space-80: 20rem;
  --space-96: 24rem;
  --space-120: 30rem;
  --space-140: 35rem;
  --space-160: 40rem;
  --space-180: 45rem;
  --space-256: 64rem;
  --space-320: 80rem;
  --space-360: 90rem;
  --space-400: 100rem;
  --space-480: 120rem;
}

:root {
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-sm: 0px 1px 3px 0px rgba(16, 24, 40, 0.1), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  --shadow-md: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  --shadow-lg: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  --shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --shadow-3xl: 3px 50px 70px 24px rgba(16, 24, 40, 0.14);
}

:global .display-7xl-100 {
  font-size: 6rem;
  font-weight: 100;
  line-height: 9rem;
  font-style: normal;
}
:global .h1-6xl-100 {
  font-size: 4.5rem;
  font-weight: 100;
  line-height: 7rem;
  font-style: normal;
}
:global .h2-5xl-100 {
  font-size: 3.625rem;
  font-weight: 100;
  line-height: 5.5rem;
  font-style: normal;
}
:global .h3-4xl-100 {
  font-size: 3rem;
  font-weight: 100;
  line-height: 4.5rem;
  font-style: normal;
}
:global .h4-3xl-100 {
  font-size: 2rem;
  font-weight: 100;
  line-height: 3.5rem;
  font-style: normal;
}
:global .h5-2xl-100 {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 2.5rem;
  font-style: normal;
}
:global .h6-xl-100 {
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 2rem;
  font-style: normal;
}
:global .body1-lg-100 {
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.75rem;
  font-style: normal;
}
:global .body2-md-100 {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body3-sm-100 {
  font-size: 0.875rem;
  font-weight: 100;
  line-height: 1.375rem;
  font-style: normal;
}
:global .caption1-xs-100 {
  font-size: 0.75rem;
  font-weight: 100;
  line-height: 1.25rem;
  font-style: normal;
}
:global .caption2-xxs-100 {
  font-size: 0.625rem;
  font-weight: 100;
  line-height: 1.125rem;
  font-style: normal;
}
:global .display-7xl-300 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 9rem;
  font-style: normal;
}
:global .h1-6xl-300 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 7rem;
  font-style: normal;
}
:global .h2-5xl-300 {
  font-size: 3.625rem;
  font-weight: 300;
  line-height: 5.5rem;
  font-style: normal;
}
:global .h3-4xl-300 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 4.5rem;
  font-style: normal;
}
:global .h4-3xl-300 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.5rem;
  font-style: normal;
}
:global .h5-2xl-300 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
  font-style: normal;
}
:global .h6-xl-300 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
  font-style: normal;
}
:global .body1-lg-300 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.75rem;
  font-style: normal;
}
:global .body2-md-300 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body3-sm-300 {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
  font-style: normal;
}
:global .caption1-xs-300 {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25rem;
  font-style: normal;
}
:global .caption2-xxs-300 {
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1.125rem;
  font-style: normal;
}
:global .display-7xl-400 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 9rem;
  font-style: normal;
}
:global .h1-6xl-400 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 7rem;
  font-style: normal;
}
:global .h2-5xl-400 {
  font-size: 3.625rem;
  font-weight: 400;
  line-height: 5.5rem;
  font-style: normal;
}
:global .h3-4xl-400 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.5rem;
  font-style: normal;
}
:global .h4-3xl-400 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.5rem;
  font-style: normal;
}
:global .h5-2xl-400 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  font-style: normal;
}
:global .h6-xl-400 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  font-style: normal;
}
:global .body1-lg-400 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  font-style: normal;
}
:global .body2-md-400 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body3-sm-400 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  font-style: normal;
}
:global .caption1-xs-400 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  font-style: normal;
}
:global .caption2-xxs-400 {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-style: normal;
}
:global .display-7xl-600 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 9rem;
  font-style: normal;
}
:global .h1-6xl-600 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 7rem;
  font-style: normal;
}
:global .h2-5xl-600 {
  font-size: 3.625rem;
  font-weight: 600;
  line-height: 5.5rem;
  font-style: normal;
}
:global .h3-4xl-600 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.5rem;
  font-style: normal;
}
:global .h4-3xl-600 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.5rem;
  font-style: normal;
}
:global .h5-2xl-600 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  font-style: normal;
}
:global .h6-xl-600 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  font-style: normal;
}
:global .body1-lg-600 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  font-style: normal;
}
:global .body2-md-600 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body3-sm-600 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  font-style: normal;
}
:global .caption1-xs-600 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25rem;
  font-style: normal;
}
:global .caption2-xxs-600 {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.125rem;
  font-style: normal;
}
:global .display-7xl-700 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 9rem;
  font-style: normal;
}
:global .h1-6xl-700 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 7rem;
  font-style: normal;
}
:global .h2-5xl-700 {
  font-size: 3.625rem;
  font-weight: 700;
  line-height: 5.5rem;
  font-style: normal;
}
:global .h3-4xl-700 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.5rem;
  font-style: normal;
}
:global .h4-3xl-700 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.5rem;
  font-style: normal;
}
:global .h5-2xl-700 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  font-style: normal;
}
:global .h6-xl-700 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  font-style: normal;
}
:global .body1-lg-700 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  font-style: normal;
}
:global .body2-md-700 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body3-sm-700 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.375rem;
  font-style: normal;
}
:global .caption1-xs-700 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;
  font-style: normal;
}
:global .caption2-xxs-700 {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.125rem;
  font-style: normal;
}
:global .display-7xl-800 {
  font-size: 6rem;
  font-weight: 800;
  line-height: 9rem;
  font-style: normal;
}
:global .h1-6xl-800 {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 7rem;
  font-style: normal;
}
:global .h2-5xl-800 {
  font-size: 3.625rem;
  font-weight: 800;
  line-height: 5.5rem;
  font-style: normal;
}
:global .h3-4xl-800 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 4.5rem;
  font-style: normal;
}
:global .h4-3xl-800 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 3.5rem;
  font-style: normal;
}
:global .h5-2xl-800 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.5rem;
  font-style: normal;
}
:global .h6-xl-800 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 2rem;
  font-style: normal;
}
:global .body1-lg-800 {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.75rem;
  font-style: normal;
}
:global .body2-md-800 {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body3-sm-800 {
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.375rem;
  font-style: normal;
}
:global .caption1-xs-800 {
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1.25rem;
  font-style: normal;
}
:global .caption2-xxs-800 {
  font-size: 0.625rem;
  font-weight: 800;
  line-height: 1.125rem;
  font-style: normal;
}
:global .display-7xl-900 {
  font-size: 6rem;
  font-weight: 900;
  line-height: 9rem;
  font-style: normal;
}
:global .h1-6xl-900 {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 7rem;
  font-style: normal;
}
:global .h2-5xl-900 {
  font-size: 3.625rem;
  font-weight: 900;
  line-height: 5.5rem;
  font-style: normal;
}
:global .h3-4xl-900 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 4.5rem;
  font-style: normal;
}
:global .h4-3xl-900 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 3.5rem;
  font-style: normal;
}
:global .h5-2xl-900 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  font-style: normal;
}
:global .h6-xl-900 {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 2rem;
  font-style: normal;
}
:global .body1-lg-900 {
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 1.75rem;
  font-style: normal;
}
:global .body2-md-900 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body3-sm-900 {
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.375rem;
  font-style: normal;
}
:global .caption1-xs-900 {
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 1.25rem;
  font-style: normal;
}
:global .caption2-xxs-900 {
  font-size: 0.625rem;
  font-weight: 900;
  line-height: 1.125rem;
  font-style: normal;
}
:global .display-7xl-950 {
  font-size: 6rem;
  font-weight: 950;
  line-height: 9rem;
  font-style: normal;
}
:global .h1-6xl-950 {
  font-size: 4.5rem;
  font-weight: 950;
  line-height: 7rem;
  font-style: normal;
}
:global .h2-5xl-950 {
  font-size: 3.625rem;
  font-weight: 950;
  line-height: 5.5rem;
  font-style: normal;
}
:global .h3-4xl-950 {
  font-size: 3rem;
  font-weight: 950;
  line-height: 4.5rem;
  font-style: normal;
}
:global .h4-3xl-950 {
  font-size: 2rem;
  font-weight: 950;
  line-height: 3.5rem;
  font-style: normal;
}
:global .h5-2xl-950 {
  font-size: 1.5rem;
  font-weight: 950;
  line-height: 2.5rem;
  font-style: normal;
}
:global .h6-xl-950 {
  font-size: 1.25rem;
  font-weight: 950;
  line-height: 2rem;
  font-style: normal;
}
:global .body1-lg-950 {
  font-size: 1.125rem;
  font-weight: 950;
  line-height: 1.75rem;
  font-style: normal;
}
:global .body2-md-950 {
  font-size: 1rem;
  font-weight: 950;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body3-sm-950 {
  font-size: 0.875rem;
  font-weight: 950;
  line-height: 1.375rem;
  font-style: normal;
}
:global .caption1-xs-950 {
  font-size: 0.75rem;
  font-weight: 950;
  line-height: 1.25rem;
  font-style: normal;
}
:global .caption2-xxs-950 {
  font-size: 0.625rem;
  font-weight: 950;
  line-height: 1.125rem;
  font-style: normal;
}
:global .display-4xl-100 {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 2.25rem;
  font-style: normal;
}
:global .h1-3xl-100 {
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.875rem;
  font-style: normal;
}
:global .h2-2xl-100 {
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.75rem;
  font-style: normal;
}
:global .h3-xl-100 {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body1-m-lg-100 {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body2-m-md-100 {
  font-size: 0.875rem;
  font-weight: 100;
  line-height: 1.25rem;
  font-style: normal;
}
:global .body3-m-sm-100 {
  font-size: 0.75rem;
  font-weight: 100;
  line-height: 1.125rem;
  font-style: normal;
}
:global .caption-xs-100 {
  font-size: 0.625rem;
  font-weight: 100;
  line-height: 1rem;
  font-style: normal;
}
:global .display-4xl-300 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.25rem;
  font-style: normal;
}
:global .h1-3xl-300 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.875rem;
  font-style: normal;
}
:global .h2-2xl-300 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.75rem;
  font-style: normal;
}
:global .h3-xl-300 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body1-m-lg-300 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body2-m-md-300 {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  font-style: normal;
}
:global .body3-m-sm-300 {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  font-style: normal;
}
:global .caption-xs-300 {
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1rem;
  font-style: normal;
}
:global .display-4xl-400 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
  font-style: normal;
}
:global .h1-3xl-400 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  font-style: normal;
}
:global .h2-2xl-400 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  font-style: normal;
}
:global .h3-xl-400 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body1-m-lg-400 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body2-m-md-400 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  font-style: normal;
}
:global .body3-m-sm-400 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-style: normal;
}
:global .caption-xs-400 {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1rem;
  font-style: normal;
}
:global .display-4xl-600 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  font-style: normal;
}
:global .h1-3xl-600 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
  font-style: normal;
}
:global .h2-2xl-600 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  font-style: normal;
}
:global .h3-xl-600 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body1-m-lg-600 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body2-m-md-600 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  font-style: normal;
}
:global .body3-m-sm-600 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.125rem;
  font-style: normal;
}
:global .caption-xs-600 {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1rem;
  font-style: normal;
}
:global .display-4xl-700 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  font-style: normal;
}
:global .h1-3xl-700 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
  font-style: normal;
}
:global .h2-2xl-700 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  font-style: normal;
}
:global .h3-xl-700 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body1-m-lg-700 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body2-m-md-700 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  font-style: normal;
}
:global .body3-m-sm-700 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  font-style: normal;
}
:global .caption-xs-700 {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1rem;
  font-style: normal;
}
:global .display-4xl-800 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.25rem;
  font-style: normal;
}
:global .h1-3xl-800 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.875rem;
  font-style: normal;
}
:global .h2-2xl-800 {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.75rem;
  font-style: normal;
}
:global .h3-xl-800 {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body1-m-lg-800 {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body2-m-md-800 {
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.25rem;
  font-style: normal;
}
:global .body3-m-sm-800 {
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1.125rem;
  font-style: normal;
}
:global .caption-xs-800 {
  font-size: 0.625rem;
  font-weight: 800;
  line-height: 1rem;
  font-style: normal;
}
:global .display-4xl-900 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2.25rem;
  font-style: normal;
}
:global .h1-3xl-900 {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.875rem;
  font-style: normal;
}
:global .h2-2xl-900 {
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 1.75rem;
  font-style: normal;
}
:global .h3-xl-900 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body1-m-lg-900 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body2-m-md-900 {
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.25rem;
  font-style: normal;
}
:global .body3-m-sm-900 {
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 1.125rem;
  font-style: normal;
}
:global .caption-xs-900 {
  font-size: 0.625rem;
  font-weight: 900;
  line-height: 1rem;
  font-style: normal;
}
:global .display-4xl-950 {
  font-size: 1.5rem;
  font-weight: 950;
  line-height: 2.25rem;
  font-style: normal;
}
:global .h1-3xl-950 {
  font-size: 1.25rem;
  font-weight: 950;
  line-height: 1.875rem;
  font-style: normal;
}
:global .h2-2xl-950 {
  font-size: 1.125rem;
  font-weight: 950;
  line-height: 1.75rem;
  font-style: normal;
}
:global .h3-xl-950 {
  font-size: 1rem;
  font-weight: 950;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body1-m-lg-950 {
  font-size: 1rem;
  font-weight: 950;
  line-height: 1.5rem;
  font-style: normal;
}
:global .body2-m-md-950 {
  font-size: 0.875rem;
  font-weight: 950;
  line-height: 1.25rem;
  font-style: normal;
}
:global .body3-m-sm-950 {
  font-size: 0.75rem;
  font-weight: 950;
  line-height: 1.125rem;
  font-style: normal;
}
:global .caption-xs-950 {
  font-size: 0.625rem;
  font-weight: 950;
  line-height: 1rem;
  font-style: normal;
}

/* CSS Document */
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"), url("fonts/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"), url("fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url("fonts/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("fonts/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"), url("fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"), url("fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/eot/IRANSansWeb(FaNum).eot");
  src: url("fonts/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), url("fonts/woff2/IRANSansWeb(FaNum).woff2") format("woff2"), url("fonts/woff/IRANSansWeb(FaNum).woff") format("woff"), url("fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IRANSans", sans-serif !important;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */